name : Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '30 2 * * *' # 8am ist
    - cron: '00 14 * * *' # 730 pm ist
    - cron: '00 06 * * 1-5' # 1130 am ist every monday to friday



jobs: 
  run-tests:
   runs-on: ubuntu latest
   steps:
     - name: Checkout code
       uses: actions/checkout@v6.0.1

     - name: Setup Nodejs and npm
       uses: actions/setup-node@v6.1.0
       with:
         node-version: '22'


     - name: Install Newman and Html-extra globally
       run: |
         npm install -g newman
         npm install -g newman-reporter-htmlextra

     - name: Run Collection
       run: |
        newman run 'Inwarranty-flow Collection copy 2.postman_collection.json'\
        -e  QA.postman_environment.json\
        -r cli,htmlextra \
        -d testdata.csv






      
     
